body {
  margin: 0;
  color: white;
  background-color: black;
  font-family: 'Press Start 2P', cursive;
}

header {
  display: flex;
  justify-content: center;
  boder-bottom: 1px white;
}

.header-links {
  margin: 30px;
}


/* main login page */

.mainLogin {
  text-align: center;
  margin-top: 100px;
  margin-left: 200px;
}

/* 'Sign in' dropdown link on main login page */
#login-sign-in-link,
/* 'Close' dropdown link on main login page */
.mainLogin .login-close-text {
  display: none;
}
