body {
  margin: 0;
  color: white;
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  line-height: 1.5em;
}

header {
  display: flex;
  justify-content: center;
}

.newGame {
  font-family: 'Press Start 2P', cursive;
  padding: 5px;
  border-radius: 3px;
  margin-right: 5px;
  margin: 20px;
  background-color: white;
  border: none;
  cursor: pointer;
  height: 25px;
}

/* name on login button in header */
header #login-name-link {
  cursor: pointer;
}

.headerLogin {
  margin-top: 20px;
}

/* main login page */

.mainLogin {
  text-align: center;
  margin-top: 100px;
}

/* 'Sign in' dropdown link on main login page */
#login-sign-in-link,
/* 'Close' dropdown link on main login page */
.mainLogin .login-close-text {
  display: none;
}

/* username text field on main login screen */
#login-username,
/* password text field on main login screen */
#login-password,
/* second password text field on main login screen */
#login-password-again {
  font-family: 'Press Start 2P', cursive;
  border: none;
  font-size: 12px;
  padding: 4px;
}

/* error message on main login screen */
.message.error-message {
  font-size: 12px;
  color: red;
}

/* 'Sign in' or 'Create account' button on main login screen */
#login-buttons-password {
  cursor: pointer;
  margin-top: 30px;
}

.additional-link {
  cursor: pointer;
  font-size: 12px;
}


.battle {
  display: flex;
  justify-content: center;
}

.vs {
  margin-top: 200px;
  font-size: 50px;
}

.monsters,
.characters {
  max-width: 350px;
  margin: 10px;
  padding: 10px;
  margin: 0 20px;
}

.monsters,
.character {
  display: flex;
  flex-wrap: wrap;
}

.characters {
  width: 100%;
}

.monsters {
  justify-content: space-around;
  max-width: 150px;
}

.character {
  justify-content: space-between;
}

.monster {
  margin: 120px 20px 0 20px;
}

.monster img {
  width: 150px;
}

.characterImage img {
  max-width: 70px;
  margin-top: 5px;
  margin-left: 5px;
}

.characterInfo {
  text-align: right;
  margin-right: 5px;
}

.console,
.blankScreen {
  text-align: center;
  font-size: 14px;
  line-height: 1.5em;
  max-width: 700px;
  margin: 0 auto;
}

.blankScreen {
  margin-top: 50px;
  font-size: 18px
}

li {
  list-style-type: none;
}

.action {
  cursor: pointer;
}

.action:hover {
  color: green;
}

.active {
  background-color: green;
}
